.container {
    display: flex;
    justify-content: center;
    margin-bottom: 50vh;
}

.icon {
    position: absolute;
    border-radius: 60%;
    animation: carousel 3s infinite ease-in-out;
    height: 350px;
    width: 350px;
}

.one {
  filter: hue-rotate(180deg);
}

.two {
  filter: hue-rotate(90deg);
  animation-delay: -1s;
}

.three {
  filter: hue-rotate(25deg);
    animation-delay: -2s;
}

@keyframes carousel {
    0% {
        transform: translate(-320px);
        scale: 50%;
        z-index: -1;
    }

    33% {
        transform: translate(0px);
        scale: 100%;
        z-index: 1;
    }

    66% {
        transform: translate(320px);
        scale: 50%;
        z-index: -1;
    }

    100% {
        transform: translate(-320px);
        scale: 50%;
        z-index: -1;
    }
}