.matemasieRegularFontBold {
  font-family: "Playfair Display SC", serif;
  font-weight: 600;
  font-style: normal;
}

.matemasieRegularFont {
  font-family: "Noto Sans Hanunoo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.restaurantDetailContainer {
  margin: 20px 40px;
}

.restaurantDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid black;
  border-radius: 10px;
  padding-left: 20px;
}

.restaurantName {
  font-size: 2.5em;
  margin-bottom: 10px;
  padding-left: 20px;
}

.dishesContainerMain {
  padding: 20px 20px;
}

.dishesContainer {
  max-width: 1200px;
  margin: 0 auto;
}

.categoryContainer {
  margin-bottom: 20px;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 20px;
}

.categoryTitle {
  font-size: 1.5em;
  margin-bottom: 10px;
  font-weight: 600;
}

.dishesList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.dishCard {
  padding: 20px 15px;
  width: 100%;
  box-shadow: 0px 1px 0px 0px rgba(113, 112, 112, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center; /* Ensure items are vertically centered */
  flex-wrap: wrap; /* Allow wrapping for responsiveness */
}

.dishCardSubDiv {
  padding: 10px;
  flex: 1; /* Allow text to take up available space */
}

.imagesDiv {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center;
}

.dishImage {
  width: 200px;
  height: 150px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(76, 75, 75, 0.6), 0 0 20px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px; /* Add margin for spacing below the image */
}

.addButton {
  color: #088622;
  background-color: white;
  padding: 8px 16px;
  border: 1.5px solid green;
  box-shadow: 0 4px 8px rgba(36, 86, 43, 0.6), 0 0 20px rgba(49, 187, 56, 0.5);
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  text-align: center;
  margin-top: -30px;
  font-weight: 900;
}

.addButton:hover {
  background-color:#2B580C;
  color: white;
}

.dishName {
  font-size: 1.2em;
  margin-bottom: 5px;
  font-weight: 600;
}

.dishPrice {
  font-weight: 700;
}

.dishPrice,
.dishRating,
.dishDescription {
  font-size: 1em;
  margin-bottom: 5px;
}

.dishRating {
  color: orangered;
}

.categoryFilterContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0px;
}

.categoryButton {
  margin: 7px;

  background-color: white;
  color: #bf3131;
  border: 2px solid #bf3131;
  border-radius: 20px;
  padding: 7px 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.categoryButton:hover {
  background-color: #bf3131;
  color: #fff;
  border-color: #bf3131;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: scale(1.1);
}

.categoryButton:active {
  background-color: #7d0a0a;
  border-color: #7d0a0a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(2px);
}

.categoryButton.active {
  background-color: #7d0a0a;
  color: #fff;
  border-color: #7d0a0a;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.categoryButton:focus {
  outline: none;
}
